<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesion</title>
</head>
<body>
    <h1>Iniciar Sesion</h1>
    <form method="post">
      <div>
        <label for="username">Usuario</label>
        <input type="text" name="username">
      </div>

      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password">
      </div>

      <div>
          <button type="submit" value="Login">Entrar</button>
      </div>
    </form>
</body>
</html>